@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@custom-variant dark (&:where(.dark &, .dark&));

:root {
  color-scheme: light;
  --font-size: 14px;
  /* Typography variables */
  --text-h1: 40px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-h4: 18px;
  --text-button: 16px;
  --text-base: 14px;
  --text-label: 12px;
  --text-caption: 12px;
  --text-5xl: 56px;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;
  --font-family-inter: 'Inter', sans-serif;
  /* The default background color for the application. */
  --background: rgba(255, 255, 255, 1.00);
  /* The default color for elements or text that appears on top of the background. */
  --foreground: rgba(0, 0, 0, 1.00);
  /* The background color for cards, modals, and other containers. */
  --card: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of cards, modals and other background containers. */
  --card-foreground: rgba(0, 0, 0, 1.00);
  /* The background color for dropdowns and tooltips. */
  --popover: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of dropdowns and tooltips. */
  --popover-foreground: rgba(0, 0, 0, 1.00);
  /* The primary color used for buttons, links, and other interactive elements. */
  --primary: rgba(250, 100, 0, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements. */
  --primary-foreground: rgba(255, 255, 255, 1.00);
  /* The secondary color used for secondary(but NOT-DESTRUCTIVE) buttons and interactive elements. */
  --secondary: rgba(0, 0, 0, 0);
  /* The default color for text or elements that appear on top of secondary colored elements. */
  --secondary-foreground: rgba(250, 100, 0, 1.00);
  /* The muted color used for less prominent elements, such as disabled buttons or disabled text. */
  --muted: rgba(102, 102, 102, 1.00);
  /* The default color for text or elements that appear on top of muted colored elements. */
  --muted-foreground: rgba(255, 255, 255, 1.00);
  /* The accent color used for highlights, links, and other interactive elements. */
  --accent: rgba(250, 100, 0, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements. */
  --accent-foreground: rgba(255, 255, 255, 1.00);
  /* The color used for background in destructive actions, such as delete buttons or error messages. */
  --destructive: rgba(197, 17, 17, 1.00);
  /* The default color for text or elements that appear on top of destructive colored elements. */
  --destructive-foreground: rgba(255, 255, 255, 1.00);
  /* The color used for background in success actions, such as success messages or success indicators. */
  --success: rgba(17, 197, 71, 1.00);
  /* The default color for text or elements that appear on top of success colored elements. */
  --success-foreground: rgba(255, 255, 255, 1.00);
  /* The default border color for elements such as inputs, buttons, and other containers. */
  --warning: rgba(245, 158, 11, 1.00);
  /* The default color for text or elements that appear on top of warning colored elements. */
  --warning-foreground: rgba(255, 255, 255, 1.00);
  --border: rgba(230, 230, 230, 1.00);
  /* The default background color for input fields once the text has been filled. Should be either transparent or match the input-background. */
  --input: rgba(255, 255, 255, 1.00);
  /* The default background color for input fields, text areas, and other input elements. */
  --input-background: rgba(242, 242, 242, 1.00);
  /* The color for focus rings, outlines, and other focus indicators. */
  --ring: rgba(250, 100, 0, 1.00);
  /* Shadow for small elevations, such as cards or modals. */
  --elevation-sm: 1px 3px 5px 1px rgba(231, 231, 231, 0.75);
  /* The color for chart elements, such as a bar or line in a chart. */
  --chart-1: rgba(250, 100, 0, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-2: rgba(251, 116, 26, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-3: rgba(252, 147, 77, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-4: rgba(253, 178, 128, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-5: rgba(254, 209, 179, 1.00);
  /* The default border radius for elements such as buttons, tooltip, and other containers. */
  --radius: 8px;
  /* The background color for sidebars, navigation menus, and other persistent elements. */
  --sidebar: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of sidebars, navigation menus, and other persistent elements. */
  --sidebar-foreground: rgba(0, 0, 0, 1.00);
  /* The primary color used for buttons, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-primary: rgba(250, 100, 0, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements in sidebars and navigation menus. */
  --sidebar-primary-foreground: rgba(255, 255, 255, 1.00);
  /* The accent color used for highlights, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-accent: rgba(250, 100, 0, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements in sidebars and navigation menus. */
  --sidebar-accent-foreground: rgba(255, 255, 255, 1.00);
  /* The default border color for elements in sidebars and navigation menus. */
  --sidebar-border: rgba(230, 230, 230, 1.00);
  /* The default color for focus rings, outlines, and other focus indicators in sidebars and navigation menus. */
  --sidebar-ring: rgba(250, 100, 0, 1.00);
}

.dark {
  color-scheme: dark;
  --background: rgba(18, 18, 18, 1.00);
  --foreground: rgba(255, 255, 255, 1.00);
  --card: rgba(38, 38, 38, 1.00);
  --card-foreground: rgba(255, 255, 255, 1.00);
  --popover: rgba(38, 38, 38, 1.00);
  --popover-foreground: rgba(255, 255, 255, 1.00);
  --primary: rgba(250, 100, 0, 1.00);
  --primary-foreground: rgba(255, 255, 255, 1.00);
  --secondary: rgba(0, 0, 0, 0);
  --secondary-foreground: rgba(250, 100, 0, 1.00);
  --muted: rgba(64, 64, 64, 1.00);
  --muted-foreground: rgba(170, 170, 170, 1.00);
  --accent: rgba(250, 100, 0, 1.00);
  --accent-foreground: rgba(255, 255, 255, 1.00);
  --destructive: rgba(197, 17, 17, 1.00);
  --destructive-foreground: rgba(255, 255, 255, 1.00);
  --success: rgba(17, 197, 71, 1.00);
  --success-foreground: rgba(255, 255, 255, 1.00);
  --warning: rgba(245, 158, 11, 1.00);
  --warning-foreground: rgba(255, 255, 255, 1.00);
  --border: rgba(64, 64, 64, 1.00);
  --input: rgba(38, 38, 38, 1.00);
  --input-background: rgba(28, 28, 28, 1.00);
  --ring: rgba(250, 100, 0, 1.00);
  --elevation-sm: 1px 3px 5px 1px rgba(0, 0, 0, 0.75);
  --chart-1: rgba(250, 100, 0, 1.00);
  --chart-2: rgba(251, 116, 26, 1.00);
  --chart-3: rgba(252, 147, 77, 1.00);
  --chart-4: rgba(253, 178, 128, 1.00);
  --chart-5: rgba(254, 209, 179, 1.00);
  --sidebar: rgba(28, 28, 28, 1.00);
  --sidebar-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-primary: rgba(250, 100, 0, 1.00);
  --sidebar-primary-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-accent: rgba(250, 100, 0, 1.00);
  --sidebar-accent-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-border: rgba(64, 64, 64, 1.00);
  --sidebar-ring: rgba(250, 100, 0, 1.00);
  --success: rgba(17, 197, 71, 1.00);
  --success-foreground: rgba(12, 30, 19, 1.00);
  --warning: rgba(245, 158, 11, 1.00);
  --warning-foreground: rgba(255, 255, 255, 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);  
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --box-shadow-elevation-sm: var(--elevation-sm);
}

@layer base {
  *, *::before, *::after {
    border-color: var(--color-border);
  }

  :focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--color-ring);
    outline-color: color-mix(in srgb, var(--color-ring) 50%, transparent);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-family-inter);
  }
}

h1 {
  font-family: var(--font-family-inter);
  font-size: var(--text-h1);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.5;
}

h2 {
  font-family: var(--font-family-inter);
  font-size: var(--text-h2);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.5;
}

h3 {
  font-family: var(--font-family-inter);
  font-size: var(--text-h3);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.5;
  letter-spacing: -0.7px;
}

h4 {
  font-family: var(--font-family-inter);
  font-size: var(--text-h4);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.5;
}

p {
  font-family: var(--font-family-inter);
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

span {
  font-family: var(--font-family-inter);
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

label {
  font-family: var(--font-family-inter);
  font-size: var(--text-label);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

button {
  font-family: var(--font-family-inter);
  font-size: var(--text-button);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.5;
}

input {
  font-family: var(--font-family-inter);
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

.caption {
  font-family: var(--font-family-inter);
  font-size: var(--text-caption);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.5;
}

.text-5xl {
  font-family: var(--font-family-inter);
  font-size: var(--text-5xl);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.2;
}

html {
  font-size: var(--font-size);
}

main {
  background: #fafafa;
  background: linear-gradient(22deg, rgba(250, 250, 250, 1) 0%, rgba(230, 255, 254, 1) 100%);
}
